.magicslider{padding:0px;margin:0;}
.bx-wrapper .bx-caption {display:none;z-index: -1;}
.bx-wrapper .bx-caption.start, .bx-wrapper .bx-caption.play { display:block;z-index: 1;}
.magicslider .text-slide{text-align: left;position: absolute;left: 135px;right: 0;top: 50%;-webkit-transform: translateY(-50%);-ms-transform: translateY(-50%);-o-transform: translateY(-50%);transform: translateY(-50%);}
.magicslider .text-slide.text-slide3{left: 50px;} 
.magicslider .text-slide.text-slide3{left: 78px;}
.text-slide {opacity: 0;visibility: hidden;}
.play .text-slide {opacity: 1; visibility: visible;}
.play .caption1 {opacity: 1;font-size: 40px;font-weight:normal;line-height: 40px;margin: 0px;text-transform: uppercase;
    -moz-animation: fadeInRight 0.8s ease-in 1.3s backwards;
    -webkit-animation: fadeInRight 0.8s ease-in 1s backwards;
    animation: fadeInRight 0.8s ease-in 1s backwards;
}
.play .caption2 {opacity:1;font-weight: 900;font-size: 40px;margin: 0;line-height: 1;text-transform: uppercase;
    -moz-animation: fadeInLeft 0.8s ease-in 1.5s backwards;
    -webkit-animation: fadeInLeft 0.8s ease-in 1.5s backwards;
    animation: fadeInLeft 0.8s ease-in 1.5s backwards;
}
.play .caption3 {opacity:1;font-size: 40px;margin: 5px 0 0;line-height: normal;font-weight: 600;text-transform: uppercase;
    -moz-animation: fadeInUp 0.8s ease-in 1.7s backwards;
    -webkit-animation: fadeInUp 0.8s ease-in 1.7s backwards;
    animation: fadeInUp 0.8s ease-in 1.7s backwards;
}
.play .caption4 {opacity:1;font-weight: normal;font-size: 24px;line-height: 1;margin-top:0px;margin-bottom: 0;text-transform: uppercase;
    -moz-animation: fadeInLeft 0.8s ease-in 2s backwards;
    -webkit-animation: fadeInLeft 0.8s ease-in 2s backwards;
    animation: fadeInLeft 0.8s ease-in 2s backwards;
}
.play .caption5 {opacity:1;margin: 0;
    -moz-animation: fadeInLeft 0.8s ease-in 2s backwards;
    -webkit-animation: fadeInLeft 0.8s ease-in 2s backwards;
    animation: fadeInLeft 0.8s ease-in 2s backwards;
}

.play .text-slide2 .caption1,.play .text-slide3 .caption1{text-transform: capitalize;}
.play .text-slide2 .caption2{text-transform: capitalize;font-weight: bold;}
.play .text-slide2 .caption3{line-height: 1;text-transform: capitalize;margin-top: 0px;font-weight: bold;}
.play .text-slide2 .caption4{text-transform: capitalize;margin-top: 10px;}
.play .text-slide3 .caption1{line-height: 35px;}
.play .text-slide3 .caption2{font-weight: normal;line-height: 35px;text-transform: capitalize;}
.play .text-slide3 .caption3{font-weight: bold;text-transform: capitalize;line-height: 1;margin: 0;}
.play .text-slide3 .caption4{font-weight: bold;font-size: 40px;text-transform: capitalize;}

.magicslider .text-slide .btn-shop{padding: 0px 33px; line-height: 40px;display: inline-block;color: #fff;background-color: #ea1b25;font-weight: 600;font-size: 14px;border-radius: 3px;margin-top: 15px;border: 1px solid #c29c37;}
.magicslider .text-slide .btn-shop:hover{background-color: #333;}
.magicslider .bx-wrapper .bx-controls-direction a{top: 45%;border-width: 1px;border-style: solid;width: 40px;height: 64px;line-height: 64px;z-index: 99;font-size: 30px;}
.magicslider .bx-controls-direction .bx-prev, 
.magicslider .bx-controls-direction .bx-next {text-align: center;-moz-transition: all 0.45s ease;-webkit-transition: all 0.45s ease;-o-transition: all 0.45s ease;-ms-transition: all 0.45s ease;transition: all 0.45s ease;visibility: hidden;opacity: 0;}
.magicslider .bx-wrapper .bx-controls-direction a.bx-prev{left: 0px;border-radius: 0 5px 5px 0;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;-o-box-shadow: none;-ms-box-shadow: none;}
.magicslider .bx-wrapper .bx-controls-direction a.bx-next{right: 0px;border-radius: 5px 0 0 5px;box-shadow: none;-moz-box-shadow: none;-webkit-box-shadow: none;-o-box-shadow: none;-ms-box-shadow: none;}
.magicslider:hover .bx-wrapper .bx-controls-direction .bx-next{visibility: inherit;opacity: 1;transform: translate(0px, 0px);-moz-transform: translate(0px, 0px);-webkit-transform: translate(0px, 0px);-o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px);}
.magicslider:hover .bx-wrapper .bx-controls-direction .bx-prev{visibility: inherit;opacity: 1;transform: translate(0px, 0px);-moz-transform: translate(0px, 0px);-webkit-transform: translate(0px, 0px);-o-transform: translate(0px, 0px); -ms-transform: translate(0px, 0px);}
.magicslider .bx-prev{transform: translate(50px, 0px);-moz-transform: translate(50px, 0px);-webkit-transform: translate(50px, 0px);-o-transform: translate(50px, 0px);-ms-transform: translate(50px, 0px);}
.magicslider .bx-next{transform: translate(-50px, 0px);-moz-transform: translate(-50px, 0px);-webkit-transform: translate(-50px, 0px);-o-transform: translate(-50px, 0px);-ms-transform: translate(-50px, 0px);}
.magicslider .bx-next .fa{margin-left: 5px;}
.magicslider .bx-prev .fa{margin-left: -5px;}
.magicslider .bx-wrapper .bx-pager{bottom: 18px;text-align: right;width: 100%;padding: 0 35px 0 0;}
.magicslider .bx-wrapper .bx-pager .bx-pager-item {margin: 0px 5px;vertical-align: middle;}
.magicslider .bx-wrapper .bx-pager.bx-default-pager a{width: 7px;height: 7px;line-height: normal;margin:0 ;text-align: center;border-radius: 50%;font-size: 12px;background-color: #fff;vertical-align: middle;}
.magicslider .bx-wrapper .bx-pager .bx-pager-item a:hover, .magicslider .bx-wrapper .bx-pager .bx-pager-item a.active {background-color: #f0002f;}
.magicslider .bx-wrapper .bx-pager .bx-pager-item a.active{width: 7px;height: 7px;}
